In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_parquet('data/_local/results/global_flows.parquet')
len(df)

28056380

In [3]:
df.tail()

        source target      value country
3027609   M998    E41   687457.0  Brazil
3027610   M998    E26  3403402.0  Brazil
3027611   M998    E41   572255.0  Brazil
3027612   M999    E82   738040.0  Brazil
3027613   M999    E74  1502229.0  Brazil

In [3]:
exporter = 'E40'
country = 'Brazil'
middlemen = list(df[(df['target'] == exporter) & (df['country'] == country)]['source'].unique())
farmers = df[(df['target'].isin(middlemen)) & (df['country'] == country)]['source'].unique()
len(farmers)

18032

In [3]:
df_farmers = df[df['source'].str.startswith('F')==True]
df_buyers = df[df['source'].str.startswith('M')==True]

In [4]:
farmer_values = df_farmers.groupby('source')['value'].sum()
farmer_values.sum()

15222498.0

In [5]:
farmer_values.sort_values().describe()

count    373880.000000
mean         40.714930
std          28.247256
min          11.000000
25%          24.000000
50%          33.000000
75%          45.000000
max        1107.000000
Name: value, dtype: float64

In [6]:
df_farmers.groupby('country')['value'].sum() / 60

country
Rwanda    253708.3
Name: value, dtype: float64

In [7]:
df_buyers.groupby('country')['value'].sum() / 60

country
Rwanda    197797.614613
Name: value, dtype: float64

In [8]:
df_buyers['value'].describe().apply(int)

count     2498
mean      6004
std       8012
min        246
25%       1495
50%       2829
75%       6945
max      62609
Name: value, dtype: int64

In [9]:

buyer_counts = df_farmers.groupby('source')['target'].nunique().sort_values()

In [10]:
df_farmers['value'].sum() / 60

247246.25

In [27]:
df_middlemen = df[df['source'].str.contains('M')==True]
df_middlemen.groupby('target')['source'].nunique().sort_values()

target
E96      1
E93      1
E3       2
E39      2
E45      2
      ...
E4      94
E61    101
E17    103
E56    157
E79    499
Name: source, Length: 100, dtype: int64

In [30]:
df_middlemen[df_middlemen['target'] == 'E56']['value'].sum() / df_farmers['value'].sum()

0.05492550197149754